<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link rel="stylesheet" href="/reset_password.css">
</head>
<style>
  
</style>
<body>
  <div class="maincontainer">
    <b><h1 id="login_heading"><SPAN>S</SPAN><SPAN>A</SPAN><SPAn>N</SPAn><SPan>J</SPan><SPan>I</SPan><SPAN>V</SPAN><SPan>I</SPan><SPAn>N</SPAn><SPAN>I</SPAN></h1></b>
    <div class="coverall">
    <div class="firstcontainer"></div>
    <div class="secondcontainer_cover">
<div class="secondcontainer">
  <h1>Password Reset</h1>
  <form id="resetPasswordForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="token">Token:</label>
    <input type="text" id="token" name="token" required>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="button" onclick="resetPassword()">Reset Password</button>
  </form>
  <p>Go to Login page<a href="/login"><button id="signup">Login</button></a>
  </p>
</div></div></div></div>
  <script>
    async function resetPassword() {
    const email = document.getElementById('email').value;
    const token = document.getElementById('token').value;
    const newPassword = document.getElementById('newPassword').value;
    console.log('Token:', token);
    
      // Example: Validate input fields

      // Make a POST request to your server to reset the password
      const response = await fetch('http://localhost:3000/reset-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, token, newPassword }),
      });

      const result = await response.json();

      // Handle the response
      if (response.ok) {
        alert(result.message);
        window.location.href = '/login';
        // Redirect or perform other actions on successful password reset
      } else {
        alert(result.message);
        window.location.href='/login'
      }
    }
  </script>
</body>
</html>
