body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to right,
      rgba(17, 255, 255, 0.4) 0,
      rgba(5, 192, 255, 0.8) 60%,
      rgba(19, 247, 255, 0.8) 100%
    );
}

h1 {
    margin-top: 65px;
}

#imageInput {
    display: none;
}

#uploadButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#imageList {
    text-align: left;
    margin: 20px;
}

.document {
    cursor: pointer;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    transition: background-color 0.3s, transform 0.3s;
}

.document:hover {
    background-color: #e0e0e0;
    transform: scale(1.01);
}
.document button{
    cursor: pointer;
    font-size: 15px;
}
#imageDisplay {
    display: none;
    position: relative;
}

#imageDisplay img {
    max-width: 100%;
    max-height: 100%;
}

#deleteButton {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

#backLink {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    display: none;
}
@media screen and (max-width: 600px) {
    .parent_container {
      height: 95vw;
    }
    body{
        background-image: linear-gradient(
            to right,
            rgba(5, 192, 255, 0.8) 0,
            rgba(19, 247, 255, 0.8) 100%
          );
    }
}